body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header--main {
    font-weight: normal;
    color: white;    
    font-size: 50px;
}